.list {
  border: solid 3px #79aeec;
  border-radius: 5px;

  width: 280px;
  padding: 12px;
  
}
.input {
  border: solid 3px #f2599c;
  border-radius: 5px;
  margin: 7px;
}
.btn{
  background: rgb(212,151,242);
background: radial-gradient(circle, rgba(212,151,242,1) 0%, rgba(153,184,255,1) 100%);
}
.check {
  margin: -2px;
}
.favorite {
  margin: -8px;
}
.favoritetwo {
  margin: -8px;
  margin-left: 4px;
  margin-top: 11px;
}
.dele {
  margin: -8px;
  margin-left: 4px;
  margin-top: 11px;
  background-color: "#f2599c";
}
.thistab{
  background: rgb(41,41,52);
  background: linear-gradient(90deg, rgba(41,41,52,1) 0%, rgba(212,151,242,1) 0%, rgba(153,184,255,1) 100%);
}

 