body {
  background: linear-gradient(to right, #43f061, #12e7dd);
  height: 97pvh;
  font-family: Arial, Helvetica, sans-serif;
}
.list {
  width: 350px;
  padding: 1em;
  margin-bottom: 1em;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 10px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(6px);
  color: #000;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-radius: 7px;

}
.input {
  height: 30px;
  width: 209px;
  border-radius: 5px;
  border: 3px solid white;
  margin-right: 10px;
}
.btn {
  background: linear-gradient(
    90deg,
    rgba(254, 255, 73, 1) 0%,
    rgba(153, 255, 221, 1) 92%
  );
}
.check {
  margin: -2px;
}
.favorite {
  margin: -8px;
}
.favoritetwo {
  margin: -8px;
  margin-left: 4px;
  margin-top: 11px;
}
.dele {
  margin: -8px;
  margin-left: 4px;
  margin-top: 11px;
  background-color: "#f2599c";
}
.thistab {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 157) 0%,
    rgb(196, 255, 234) 92%
  );
}
