.background-conteaner {
  background: #3dc78e;
  margin: -8px;
  font-family: Arial, Helvetica, sans-serif;
  height: 605px;
  border: 10px solid #3dc78e;
}
.background-darkmode {
  background: #031929;
  height: 97pvh;
  font-family: Arial, Helvetica, sans-serif;
  border: 10px solid #031929;
}
form {
  padding: 3em;
  height: 360px;
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

form img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
form h2 {
  font-weight: bold;
  color: #000;
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 20px;
}
form a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 12px;
}

form a:hover {
  text-shadow: 2px 2px 6px #00000040;
}
form a:active {
  text-shadow: none;
}
form input {
  width: 200px;
  padding: 1em;
  margin-bottom: 1em;
  border: none;
  border-radius: 5000px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 10px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  font-family: Montserrat, sans-serif;
  color: #000;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.button {
  margin-top: 10px;
  width: 150px;
  height: 63px;
  font-size: 1rem;
  background: rgb(255,255,126);
  color:black;
  border: none;
  border-radius: 50px;
  margin-left: 5px;
}
.buttonDark {
  background: rgb(0, 78, 153);
  color:white;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 50px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: none;
}
.button:hover {
  cursor: pointer;
}
.button:active {
  background: rgba(255, 255, 255, 0.25);
}
form:hover {
  margin: 4px;
}

::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: #000;
}
.Link{
  border-bottom: 0.5px solid  black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.linkDarkMode {
  border-bottom: 0.5px solid white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;
}
.p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.h2 {
  text-align: center;
}


